.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0 4rem;
}


.userCardContainer {
  display: grid;
  grid-template-rows: 1fr 2fr;
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: 0.5rem;
}

.detailsContainer {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  column-gap: 1rem;
  align-items: center;
}
& img {
  border-radius: 3rem;
  display: block;
  max-width: 100%;
  height: auto;
}

.nameAndTitle {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-left: .5rem;
}

.name {
  color: hsl(300, 24%, 96%);
}

.title {
  color: hsl(333, 80%, 67%);
}

.information {
  color: hsl(300, 24%, 96%);
  margin-top: 1.5rem;
  line-height: 1.125rem;
  word-spacing: 2px;
}
